.label::after {
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
  content: ':';
}
.l-label::before {
  position: relative;
  top: -0.5px;
  margin-left: 2px;
  content: ':';
}

.inline-block {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  font-variant: normal;
  vertical-align: middle;
  background-color: navajowhite;
}

.row-item {
  display: flex;
  width: 60px;
  height: 40px;
}

.row-item-reverse {
  display: flex;
  width: 60px;
  height: 40px;
}
.column-item {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 40px;
}
